@import './mixins.scss';

.dish-edit-wrapper {
  width: 370px;
  position: absolute;
  height: calc(100vh - 20px);
  margin: 10px;

  .save-delete {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .dish-name {
      font-size: 12px;
      line-height: 24px;
    }

    .dish-name-value {
      font-size: 16px;
      line-height: 26px;
      font-weight: bold;
      margin-bottom: 15px;
      height: 26px;
    }
  }
}

.confirm-clear-wrapper {
  @extend .modal-box;

  width: 250px;
  .content {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .button-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
