@import './mixins.scss';

.dish-name-dialog-box {
  @extend .modal-box;
  width: 250px;
  height: 150px;
  
  .label {
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .input-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .input-label {
      width: 50px;
      margin-right: 15px;
    }
  }

  .button-wrap {
    display: flex;
    justify-content: flex-end;
  }
}