.running-control-wrapper {
  .placeholder {
    width: 100vw;
    height: 60px;
    background-color: red;
  }

  .dish-name {
    font-size: 22px;
    width: 100vw;
    text-align: center;
    line-height: 45px;
  }
}