.running-control-wrapper {
  .placeholder {
    width: 100vw;
    height: 60px;
  }

  .dish-name {
    font-size: 22px;
    width: 100vw;
    text-align: center;
    line-height: 45px;
  }

  .button-wrap {
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}