.min-sec {
  display: flex;
  width: 100%;
  align-items: center;

  .label { 
    width: 70px;
  }

  .form-2 {
    width:100px;
    margin-right: 30px;

    .min-label {
      background-color: white;
    }
  }

  .form-3 {
    width: 100px;

    .sec-label {
      background-color: white;

    }
  }
}